
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a target="_blank" 
                   href="" class="b-brand">
                    <div class="b-bg">
                        <i class="feather icon-trending-up"></i>
                    </div>
                    <span class="b-title">Watch Data System</span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    <li class="nav-item pcoded-menu-caption">
                        <label>Navigation</label>
                    </li>
                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" 
                        class="nav-item {% if 'index' in segment %} active {% endif %}">
                        <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                    </li>
                    <li class="nav-item pcoded-menu-caption">
                        <label>Databases</label>
                    </li>
                    <li data-username="watch" class="nav-item">
                        <a href="watch-list" class=""><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">Watch</span></a>
                    <li data-username="ppg" class="nav-item">
                        <a href="ppg-chart" class=""><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">PPG</span></a>
                    <li data-username="ecg" class="nav-item">
                        <a href="ecg-chart" class=""><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">ECG</span></a>
                    <li data-username="acc" class="nav-item">
                        <a href="acc-chart" class=""><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">ACC</span></a>
                    <li data-username="gyr" class="nav-item">
                        <a href="gyr-chart" class=""><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">GYR</span></a>
                    
                    </li>
                  
  
                    <li class="nav-item pcoded-menu-caption">
                        <label>Logout</label>
                    </li>
                    <li data-username="Disabled Menu" class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link">
                            <span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Logout</span>
                        </a>
                    </li>                    
                </ul>
            </div>
        </div>
    </nav>
