{% extends "layouts/base.html" %}
{% load watch_extra %}
{% block title %} List {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">ACC Data List</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <!-- [ basic-table ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Total {{count_total}} records</h5>
                            </div>

                          

                            <div class="card-block">
                                <div class='row'>

                                    <!-- Dropdown list -->
                                    <div class="col-6">
                                        <div class="btn-group ">
                                            {% if watch_name == '' %}
                                            <button class="btn btn-light dropdown-toggle" type="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select
                                                Watch </button>
                                            {% else %}
                                            <button class="btn btn-light dropdown-toggle" type="button"
                                                data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">Watch {{watch_name}} </button>

                                            {% endif %}

                                            <div class="dropdown-menu">
                                                {% for watch in watch_list %}
                                                <a class="dropdown-item"
                                                    href="{% url 'acc_list' %}?watch_name={{watch}}">Watch {{watch}}</a>

                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="btn-group ">
                                            {% if acc_index == '' %}
                                            <button class="btn btn-light dropdown-toggle" type="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select
                                                Test Index </button>
                                            {% else %}
                                            <button class="btn btn-light dropdown-toggle" type="button"
                                                data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">Test {{acc_index}} </button>

                                            {% endif %}

                                            <div class="dropdown-menu">
                                                {% for index in index_list %}
                                                <a class="dropdown-item"
                                                    href="{% url 'acc_list' %}?watch_name={{watch_name}}&acc_index={{index}}">Test {{index}}</a>

                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="table-responsive ">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Watch</th>
                                                <th>x</th>
                                                <th>y</th>
                                                <th>z</th>
                                                <th>Frequency</th>
                                                <th>Index</th>
                                                <th>Created at</th>
                                                <th>Operation</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                            {% for acc in acc_list %}
                                            <tr>
                                                <th scope="row">{{acc.id}}</th>
                                                <td>{{acc.watch}}</td>
                                                <td>{{acc.x}}</td>
                                                <td>{{acc.y}}</td>
                                                <td>{{acc.z}}</td>
                                                <td>{{acc.freq}}</td>
                                                <td>{{acc.index}}</td>
                                                <td>{{acc.created|date:"Y-m-d H:m:s" }}  </td>
                                                <td>                                
                                                    <a href="{% url 'acc_delete' acc.id%}" class="badge badge-danger"><i class="feather icon-trash-2"></i>&nbsp;Delete</a>&nbsp;
                                                </td>

                                            </tr>
                                            {% endfor %}


                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class='col-4'>
                                        <a href="{% url 'acc_create' %}" class='btn btn-primary'>Add ACC Data</a>
                                    </div>
                                    <div class='col-8'>
                                        <ul class="pagination">

                                            {% if page_objects.has_previous %} 
                                                <li class="page-item "><a class="page-link" href="?{% param_replace page=1 %}">&laquo;</a></li>
                                            {% else %}
                                                <li class="page-item disabled"><a href=""><span class="page-link">&laquo;</span></a></li>
                                            {% endif %}

                                            {% if page_objects.number|add:'-4' > 1 %}
                                                <li class ="page-item"><a class="page-link" href="?{% param_replace page=page_pbjects.number|add:'-5' %}">&hellip;</a></li>
                                            {% endif %}
                                                
                                                
                                            {% for i in page_objects.paginator.page_range %}
                                                {% if page_objects.number == i %}
                                                        <li class="page-item active"><a class="page-link" href=""> {{i}}</a></li>
                                                {% elif i > page_objects.number|add:'-5' and i < page_objects.number|add:'5' %}
                                                    <li class ="page-item" ><a class="page-link" href="?{% param_replace page=i %}">{{ i }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                        
                                            {% if page_objects.paginator.num_pages > page_objects.number|add:'4' %}
                                                <li class ="page-item"><a class="page-link" href="?{% param_replace page=page_objects.number|add:'5' %}">&hellip;</a></li>
                                            {% endif %}                                                   

                                            {% if page_objects.has_next %}
                                                <li class ="page-item" ><a class="page-link" href="?{% param_replace page=page_objects.paginator.num_pages %}">&raquo;</a></li>
                                            {% else %}
                                                <li class="page-item disabled"><a href=""><span class="page-link">&raquo;</span></a></li>
                                            {% endif %}
                            
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}