{% extends "layouts/base.html" %}
{% load watch_extra %}
{% block title %} List {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Gsensor Data List</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <!-- [ basic-table ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Total {{count_total}} items</h5>
                            </div>

                          

                            <div class="card-block">
                                <div class='row'>
                                    <div class="col-6">
                                        <b>Sort By: </b>
                                        <a href="{% url 'gsensor_list' %}?search={{search}}&orderby=id">Id</a>  | 
                                        <a href="{% url 'gsensor_list' %}?search={{ search }}&orderby=watch">Watch</a> |  
                                        <a href="{% url 'gsensor_list' %}?search={{ search }}&orderby=green">acc_x</a> | 
                                        <a href="{% url 'gsensor_list' %}?search={{ search }}&orderby=red">acc_y</a> |
                                        <a href="{% url 'gsensor_list' %}?search={{ search }}&orderby=ir">acc_z</a> |
                                        <a href="{% url 'gsensor_list' %}?search={{ search }}&orderby=x">gyr_x</a> | 
                                        <a href="{% url 'gsensor_list' %}?search={{ search }}&orderby=y">gyr_y</a> |
                                        <a href="{% url 'gsensor_list' %}?search={{ search }}&orderby=z">gyr_z</a> |
                                        <a href="{% url 'gsensor_list' %}?search={{ search }}&orderby=x">mag_x</a> | 
                                        <a href="{% url 'gsensor_list' %}?search={{ search }}&orderby=y">mag_y</a> |
                                        <a href="{% url 'gsensor_list' %}?search={{ search }}&orderby=z">mag_z</a> |
                                        <a href="{% url 'gsensor_list' %}?search={{ search }}&orderby=freq">Frequency</a> |
                                        <a href="{% url 'gsensor_list' %}?search={{ search }}&orderby=created">Created at</a> |
                                    </div>
   
                                    <div class="col-6">
                                        <form class="form-inline mb-2">
                                            <div class="form-group mx-sm-3 mb-2">
                                                <input type="text" 
                                                       class="form-control" 
                                                       name="search",
                                                       id='search',
                                                       placeholder="Search watch",
                                                       value={{search}}
                                                       >
                                            </div>
                                            <button type="submit" class="btn btn-secondary mb-2 btn-sm">Search</button>
                                        </form>
                                    </div>
                                </div>

                                <div class="table-responsive ">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Watch</th>
                                                <th>acc_x</th>
                                                <th>acc_y</th>
                                                <th>acc_z</th>
                                                <th>gyr_x</th>
                                                <th>gyr_y</th>
                                                <th>gyr_z</th>
                                                <th>mag_x</th>
                                                <th>mag_y</th>
                                                <th>mag_z</th>
                                                <th>Frequency</th>
                                                <th>Created at</th>
                                                <th>Operation</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                            {% for gsensor in gsensor_list %}
                                            <tr>
                                                <th scope="row">{{gsensor.id}}</th>
                                                <td>{{gsensor.watch}}</td>
                                                <td>{{gsensor.acc_x}}</td>
                                                <td>{{gsensor.acc_y}}</td>
                                                <td>{{gsensor.acc_z}}</td>
                                                <td>{{gsensor.gyr_x}}</td>
                                                <td>{{gsensor.gyr_y}}</td>
                                                <td>{{gsensor.gyr_z}}</td>
                                                <td>{{gsensor.mag_x}}</td>
                                                <td>{{gsensor.mag_y}}</td>
                                                <td>{{gsensor.mag_z}}</td>
                                                <td>{{gsensor.freq}}</td>
                                                <td>{{gsensor.created|date:"Y-m-d H:i" }}  </td>
                                                <td>                                
                                                    <a href="{% url 'gsensor_delete' gsensor.id%}" class="badge badge-danger"><i class="feather icon-trash-2"></i>&nbsp;Delete</a>&nbsp;
                                                </td>

                                            </tr>
                                            {% endfor %}


                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class='col-4'>
                                        <a href="{% url 'gsensor_create' %}" class='btn btn-primary'>Add Gsensor Data</a>
                                    </div>
                                    <div class='col-8'>
                                        <ul class="pagination">

                                            {% if page_objects.has_previous %} 
                                                <li class="page-item "><a class="page-link" href="?{% param_replace page=page_objects.previous_page_number %}">&laquo;</a></li>
                                            {% else %}
                                                <li class="page-item disabled"><a href=""><span class="page-link">&laquo;</span></a></li>
                                            {% endif %}

                                            {% if page_objects.number|add:'-4' > 1 %}
                                                <li class ="page-item"><a class="page-link" href="?{% param_replace page=page_pbjects.number|add:'-5' %}">&hellip;</a></li>
                                            {% endif %}
                                                
                                                
                                            {% for i in page_objects.paginator.page_range %}
                                                {% if page_objects.number == i %}
                                                        <li class="page-item active"><a class="page-link" href=""> {{i}}</a></li>
                                                {% elif i > page_objects.number|add:'-5' and i < page_objects.number|add:'5' %}
                                                    <li class ="page-item" ><a class="page-link" href="?{% param_replace page=i %}">{{ i }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                        
                                            {% if page_objects.paginator.num_pages > page_objects.number|add:'4' %}
                                                <li class ="page-item"><a class="page-link" href="?{% param_replace page=page_objects.number|add:'5' %}">&hellip;</a></li>
                                            {% endif %}                                                   

                                            {% if page_objects.has_next %}
                                                <li class ="page-item" ><a class="page-link" href="?{% param_replace page=page_objects.paginator.num_pages %}">&raquo;</a></li>
                                            {% else %}
                                                <li class="page-item disabled"><a href=""><span class="page-link">&raquo;</span></a></li>
                                            {% endif %}
                            
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}